.navbar-nav .nav-link {
  color: #000000;

  &:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
}

.logo-container {
  max-width: 100%;
  height:auto;
}

@media screen and (min-width: 769px) {
  .btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0;
    border-width: 2px;
  }

  .btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
  }

 .logo-container{
  max-width:10%;
 }
}

@media (min-width:321px) and (max-width: 768px){
  .logo-container{
    max-width:20%;
  }
}
  



@media screen and (max-width: 768px) {
  .btn {
    padding: 0;
    color: #000000;
  }
}

.container {
  display: grid;
  place-items: center;
}
.logo {
  width: 35%;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width:35%;
  margin-bottom: 10px; /* Optional: Add spacing between logo and text */
}

.logo-image {
  width: 150px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}