.container {
  display: grid;
  place-items: center;
}
.image{
  max-width: 100%; 
  height: auto;
}
@media only screen and (max-width:320px) {
  .footer {
    font-size: .8em;

  }
  .image {
   width:30%;
  }
}

@media (min-width:321px) and (max-width: 768px) {
  .footer {
    font-size: 1em;

  }
  .image {
    max-width: 20%;
  }
}

@media (min-width:769px) and (max-width:2560px) {
  .footer {
    font-size: 1.1em;

  }
  .image{
    max-width:10%;
  }
}

